* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-white-1: #202020;
    --black-white-2: #404040;
    --black-white-3: #606060;
    --black-white-4: #787878;
    --black-white-5: #989898;
    --black-white-6: #B0B0B0;
    --black-white-7: #C8C8C8;
    --black-white-8: #DCDCDC;
    --black-white-9: #F8F8F8;
    --black-white-10: #FFFFFF;
    --tree-image: url('tree.png');
    --tree-long-image: url('tree-long.png');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--black-white-10);
}

a, a:active, a:hover, a:link {
    text-decoration: none;
}

input, input:focus {
    border: none;
    outline: none;
}

::placeholder {
    font-size: 14px;
    opacity: 0.6;
}

/* welcome page---------- */

#welcome-image {
    background-image: var(--tree-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 450px;
    height: 250px;
}

#title {
    color: var(--black-white-1);
    font-size: 85px;
    letter-spacing: 30px;
    margin-right: -25px;
    text-align: center;
    text-transform: uppercase;
}

#mode {
    cursor: pointer;
    color: var(--black-white-1);
}

#slogan {
    color: var(--black-white-1);
    font-size: 25px;
    text-align: justify;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#welcome-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-content {
    margin-top: 15vh;
}

/* welcome page---------- */

/* sign in----------*/

#sign-in-form input {
    border-bottom: 3px solid var(--black-white-1);
    width: 350px;
}

#sign-in-content {
    background-image: var(--tree-long-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-in-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* sign in----------*/

/* sign up----------*/

#sign-up-form input {
    border-bottom: 3px solid var(--black-white-1);
    width: 320px;
    background-color: var(--black-white-10);
    color: var(--black-white-1);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

#sign-up-content {
    background-image: var(--tree-long-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-up-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sign-up-form {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* sign up----------*/

/* shared---------- */

#buttons {
    margin-top: 40px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: var(--black-white-1);
    color: var(--black-white-9);
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    border: none;
    outline: none;
    min-width: 110px;
    padding: 12px 15px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--black-white-3);
}

.bg-color-10{
    background-color: var(--black-white-10);
}

.text-black {
    color: var(--black-white-1);
}

.text-white {
    color: var(--black-white-9);
}

.small-space {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.medium-space {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.col {
    float: left;
}

.w-33 {
    width: 33.3%;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.font-20 {
    font-size: 20px;
}

.font-bold {
    font-weight: bold;
}

.letter-sp-3 {
    letter-spacing: 3px;
}

.pad-1 {
    padding: 10px;
}

.pad-t-1 {
    padding-top: 10px;
}

.pad-t-2 {
    padding-top: 20px;
}

.pad-2 {
    padding: 20px;
}

.pad-3 {
    padding: 30px;
}

.mar-1 {
    margin: 10px;
}

.mar-2 {
    margin: 20px;
}

.vw-100 {
    width: 100vw;
}

/* shared---------- */