* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-white-1: #202020;
    --black-white-2: #303030;
    --black-white-3: #505050;
    --black-white-4: #787878;
    --black-white-5: #989898;
    --black-white-6: #B0B0B0;
    --black-white-7: #c8c8c8;
    --black-white-8: #DCDCDC;
    --black-white-9: #F8F8F8;
    --black-white-10: #FFFFFF;
    --modal-background: #20202077;
    --tree-image: url('tree.png');
    --tree-long-image: url('tree-long.png');
    --additional-color-1: #2a9df4;
    --alert-color: #f34343;
    --tree-image-width: 450px;
    --thoughts-grid-width: 550px;
    --thoughts-grid-height: 'fit-content';
    --thoughts-grid-left: 0;
    --thoughts-grid-top: 0;
    --thoughts-grid-right: 0;
    --thoughts-grid-bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--black-white-10);
    color: var(--black-white-1);
}

a, a:active, a:hover, a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

input, input:focus {
    background-color: inherit;
    color: var(--black-white-1);
    border: none;
    outline: none;
}

::placeholder {
    font-size: 14px;
    opacity: 0.7;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--black-white-1);
    /* -webkit-box-shadow: 0 0 0px 1000px var(--black-white-10) inset; */
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    /* box-shadow: 200px 200px 100px var(--black-white-10) inset; */
    box-shadow: 200px 200px 100px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* welcome page---------- */

#welcome-image {
    background-image: var(--tree-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--tree-image-width);
    height: 250px;
}

#title {
    color: var(--black-white-1);
    font-size: 85px;
    letter-spacing: 30px;
    margin-right: -25px;
    text-align: center;
    text-transform: uppercase;
}

#slogan {
    color: var(--black-white-1);
    font-size: 25px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#errors {
    max-width: 450px;
    list-style-type: disc;
}

.error {
    color: var(--black-white-1);
    font-size: 20px;
    text-align: left;
    letter-spacing: 3px;
    word-spacing: 8px;
    word-wrap: break-word;
    color: var(--alert-color);
}

#welcome-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-content {
    margin-top: 20vh;
}

/* welcome page---------- */

/* sign in----------*/

#sign-in-form input {
    border-bottom: 3px solid var(--black-white-1);
    width: 350px;
}

#sign-in-content {
    background-image: var(--tree-long-image);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 92.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
}

#sign-in-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#sign-in-form {
    position: relative;
    top: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sign-in-form input {
    border-bottom: 3px solid var(--black-white-1);
    width: 320px;
    background-color: var(--black-white-10);
    color: var(--black-white-1);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* sign in----------*/

/* sign up----------*/

/* .alert::before {
    position: relative;
} */

.alert {
    color: var(--additional-color-1);
    background-color: var(--black-white-10);
    z-index: 10;
    padding-bottom: 4px;
}

#sign-up-form input {
    border-bottom: 3px solid var(--black-white-1);
    width: 320px;
    background-color: var(--black-white-10);
    color: var(--black-white-1);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

#sign-up-content {
    background-image: var(--tree-long-image);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 92.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
}

#sign-up-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#sign-up-form {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* sign up----------*/

/* navigation----------*/

#sign-out {
    background-color: var(--black-white-10);
    color: var(--black-white-1);
    font-size: 20px;
}

#settings-list-wrapper {
    overflow: hidden;
}

#settings {
    overflow: hidden;
}

#settings-list {
    overflow: hidden;
}

.show-settings {
    transform: translateY(0);
    transition: transform 1s ease;
}

.hide-settings {
    transform: translateY(-120%);
    list-style-type: none;
    transition: transform 1s ease;
    overflow: hidden;
}

/* navigation----------*/

/* thoughts page----------*/
#management-list-wrapper {
    overflow: hidden;
}

#management {
    overflow: hidden;
    position: fixed;
    left: 0; 
    right: 0; 
    bottom: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: auto; 
    margin-right: auto; 
}

#management-list {
    overflow: hidden;
}

.show-management {
    transform: translateY(-40%);
    transition: transform 1s ease;
}

.hide-management {
    transform: translateY(120%);
    list-style-type: none;
    transition: transform 0.6s ease;
    overflow: hidden;
}

#thoughts-component {
    height: 100vh;
}

#thoughts-wrapper {
    width: 100vw;
    position: relative;
}

.dashed-border {
    border: 2px dashed var(--additional-color-1);
    border-bottom: none;
}

.alert-border {
    border: 2px dashed var(--alert-color);
    border-bottom: none;
}

#thoughts-grid {
    grid-gap: 30px;
    margin: 0 auto;
    resize: both;
    overflow: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(110px, 4fr));
    grid-template-rows: repeat(auto-fill, minmax(110px, 4fr));
    width: var(--thoughts-grid-width);
    height: var(--thoughts-grid-height);
    left: var(--thoughts-grid-left) !important;
    top: var(--thoughts-grid-top) !important;
    right: var(--thoughts-grid-right) !important;
    bottom: var(--thoughts-grid-bottom) !important;
}

::-webkit-resizer {
    border: 2px solid var(--additional-color-1);
    background-color: var(--black-white-10);
    width: 10px !important;
    height: 10px !important;
}

.thoughts-button {
    width: 150px;
}

.tile {
    min-height: 110px;
    min-width: 110px;
    max-width: 110px;
    max-height: 110px;
    background-color: var(--black-white-9);
    border: 1px solid var(--additional-color-1);
}

.hovered {
    background-color: var(--black-white-1);
}

.draggable {
    cursor: move;
}

.dragging {
    background-color: var(--black-white-3);
}

#thoughts-form {
    display: none;
}

#tags-form {
    display: none;
}

.modal-content {
    width: 60%;
    margin: 200px auto;
    padding: 30px;
    background-color: var(--black-white-10);
}

.modal-content input[type="text"] {
    border-bottom: 1px solid var(--black-white-1);
    padding: 0;
    margin: 0;
    width: 80%;
}

.modal-content input::placeholder {
    font-size: 18px;
}

.creation-form {
    display: flex;
}

#new-tag-button {
    position: fixed;
    left: 50px;
    bottom: 50px;
    ;
}

#new-thought-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/* thoughts page----------*/

/* shared---------- */

body::-webkit-scrollbar-track, .scrollbar::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: var(--black-white-10);
}

body::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
    width: 14px;
    background-color: var(--additional-color-1);
}

body::-webkit-scrollbar-corner, .scrollbar::-webkit-scrollbar-corner {
    width: 14px;
    background-color: var(--additional-color-1);
}

body::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--additional-color-1);
    border: 1px solid var(--additional-color-1);
}

.modal {
    background-color: var(--modal-background);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.close {
    cursor: pointer;
    margin-bottom: 30px;
    color: var(--black-white-1);
    font-size: 25px;
}

.form-content {
    width: 340px;
    word-wrap: break-word;
}

.limiter {
    height: 80px;
}

.line {
    position: absolute;
    width: 100vw;
    border-bottom: 2px solid var(--additional-color-1);
}

.line-transform {
    transform: translateX(calc(((100vw - var(--tree-image-width)) / 2) * -1));
}

.line::after {
    transform: translateX(calc((100vw - var(--tree-image-width)) / 2));
    display: block;
    width: var(--tree-image-width);
    height: 2px;
    content: "";
    position: absolute;
    background-color: var(--black-white-10);
}

.line::before {
    position: relative;
}

.buttons {
    align-self: center;
    justify-self: center;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons[data-buttons] {
    justify-content: space-around;
}

.button {
    background-color: var(--black-white-1);
    color: var(--black-white-10);
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 1px;
    border: none;
    outline: none;
    min-width: 110px;
    padding: 12px 15px;
    border: 1px solid var(--additional-color-1);
}

.button:hover {
    cursor: pointer;
    color: var(--black-white-4);
}

.bg-color-10 {
    background-color: var(--black-white-10);
}

.text-black {
    color: var(--black-white-1);
}

.text-white {
    color: var(--black-white-9);
}

.small-space {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.medium-space {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.col {
    float: left;
}

.w-33 {
    width: 33.3%;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-bold {
    font-weight: bold;
}

.letter-sp-3 {
    letter-spacing: 3px;
}

.pad-1 {
    padding: 10px;
}

.pad-b-0-5 {
    padding: 5px;
}

.pad-t-1 {
    padding-top: 10px;
}

.pad-t-2 {
    padding-top: 20px;
}

.pad-2 {
    padding: 20px;
}

.pad-3 {
    padding: 30px;
}

.mar-1 {
    margin: 10px;
}

.mar-2 {
    margin: 20px;
}

.mar-b-3 {
    margin-bottom: 30px;
}

.mar-b-2 {
    margin-bottom: 20px;
}

.mar-t-2 {
    margin-top: 20px;
}

.mar-l-1 {
    margin-left: 10px;
}

.mar-r-3 {
    margin-right: 30px;
}

.max-vw-100 {
    max-width: 100vw;
}

.pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

/* shared---------- */