* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-white-1: #202020;
    --black-white-2: #404040;
    --black-white-3: #606060;
    --black-white-4: #787878;
    --black-white-5: #989898;
    --black-white-6: #B0B0B0;
    --black-white-7: #C8C8C8;
    --black-white-8: #DCDCDC;
    --black-white-9: #F8F8F8;
    --black-white-10: #FFFFFF;
    --order-image: url('tree.png');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--black-white-10);
}

#start-image {
    background-image: var(--order-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 450px;
    height: 250px;
}

#title {
    color: var(--black-white-1);
    font-size: 85px;
    letter-spacing: 30px;
    margin-right: -25px;
    text-align: center;
    text-transform: uppercase;
}

#slogan {
    color: var(--black-white-1);
    font-size: 25px;
    text-align: justify;
    letter-spacing: 5px;
    word-spacing: 10px;
}

#start-wrapper {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vh;
}

#buttons {
    margin: 20px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}

.button {
    background-color: var(--black-white-1);
    color: var(--black-white-9);
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    min-width: 110px;
    padding: 12px 15px;
}

.button:hover {
    cursor: pointer;
    background-color: var(--black-white-3);
}

@media screen and (max-width: 900px) {
    #start-wrapper {
        width: 30%;
    }
}

@media screen and (max-width: 600px) {
    #start-wrapper {
        width: 60%;
    }
}

.small-space {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.medium-space {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.mode {
    padding: 10px 20px;
    font-weight: bold;
    position: absolute;
    left: 20px;
    top: 20px;
    color: var(--black-white-1);
    background-color: var(--black-white-10);
    border: 1px solid var(--black-white-1);
    border-radius: 4px;
}

.mode:hover {
    cursor: pointer;
    background-color: var(--black-white-9);
}