<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" defer src="app.js"></script>
</head>

<body>
    <div id="wrapper">
        <button class="mode">Mode</button>
        <div id="sign-in-image"></div>
        <div id="buttons">
            <button class="button">back</button>
            <button class="button">Sign in</button>
        </div>
    </div>
</body>

</html>