<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer type ="module" src="sign-up.js"></script>
</head>

<body>
    <div id="sign-up-wrapper">
        <div id="sign-up-content">
            <form id="sign-up-form" action="sign-up" method="post" autocomplete="off">
                <div class="line"></div>
                <div class="bg-color-10 mar-b-2">
                    <input class="mar-1 pad-t-2 pad-b-0-5" type="text" placeholder="Username" name="username">
                    <div class="alert mar-l-1" th:if="${model.errors.size()} > 1 " th:text="${model.errors.get(0)}"></div>
                    <br>
                    <input class="mar-1 pad-t-2 pad-b-0-5" type="text" placeholder="Email" name="email">
                    <div class="alert mar-l-1" th:if="${model.errors.size()} > 1 " th:text="${model.errors.get(1)}"></div>
                    <br>
                    <input class="mar-1 pad-t-2 pad-b-0-5" type="password" placeholder="Password" name="password">
                    <div class="alert mar-l-1" th:if="${model.errors.size()} > 1 " th:text="${model.errors.get(0)}"></div>
                    <br>
                    <input class="mar-1 pad-t-2 pad-b-0-5" type="password" placeholder="Confirm Password"
                        name="confirm-password">
                    <div class="alert mar-l-1" th:if="${model.errors.size()} > 1 " th:text="${model.errors.get(0)}"></div>
                </div>
                <div id="buttons">
                    <button class="button" type="button" onclick="goBack()">Back</button>
                    <button class="button" type="submit">Sign up</button>
                </div>
            </form>
        </div>
</body>

</html>