<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer type ="module" src="sign-in.js"></script>
</head>

<body>
    <div id="sign-in-wrapper">
        <div id="sign-in-content">
            <form id="sign-in-form" action="/sign-in" method="post" autocomplete="off">
                <div class="line"></div>
                <div class="bg-color-10 mar-b-3 form-content">
                    <input class="mar-1 pad-t-2 pad-b-0-5" type="text" id="sign-in-username" placeholder="Username"
                        name="username">
                    <div th:if="${model.errors.containsKey('username')}" th:text="${model.errors.get('username')}" class="alert mar-l-1"></div>
                    <br>
                    <input class="mar-1 pad-t-2 pad-b-0-5" type="password" placeholder="Password" name="password">
                    <div th:if="${model.errors.containsKey('password')}" th:text="${model.errors.get('password')}" class="alert mar-l-1"></div>
                    <br>
                </div>
                <div id="buttons">
                    <button class="button" type="button" onclick="location.href='/'">
                        Back
                    </button>
                    <button class="button" type="submit">Sign in</button>
                </div>
            </form>
        </div>
</body>

</html>