<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="start-wrapper">
     
        <img src="tree.png">
        <h1 id="title">Order</h1>
        <p id="slogan">Organize Your Thoughts</p>
        <div id="buttons">
            <button class="button">Sign up</button>
            <span class="small-space"></span>
            <button class="button">Sign in</button>
        </div>
    </div>
</body>

</html>