<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript"  defer src="app.js"></script>
</head>

<body>
    <div id="start-wrapper">
        <button class="mode">Mode</button>
        <div id="start-image"></div>
        <h1 id="title">Order</h1>
        <p id="slogan">Organize Your Thoughts</p>
        <div id="buttons">
            <button class="button">Sign up</button>
          
            <button class="button">Sign in</button>
        </div>
    </div>
</body>

</html>