<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" defer src="app.js"></script>
</head>

<body>
    <nav class="row font-20 font-bold letter-sp-3">
        <span class="col text-left w-33 pad-3"><span class="text-black" id="mode">Mode</span></span>
        <span class="col text-center w-33 pad-3"><a class="text-black" href="#">Search</a></span>
        <span class="col text-right w-33 pad-3"><a class="text-black" href="#">Thoughts</a></span>
    </nav>
    <div id="welcome-wrapper">
        <div id="welcome-image"></div>
        <h1 id="title">Order</h1>
        <p id="slogan">Organize Your Thoughts</p>
        <div id="buttons">
            <a href="sign-up" class="button text-white">Sign up</a>
            <a href="sign-in" class="button text-white">Sign in</a>
        </div>
    </div>
</body>

</html>