<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer type="module" src="welcome.js"></script>
</head>

<body>
    <div id="welcome-wrapper">
        <div id="welcome-content">
            <div id="welcome-image"></div>
            <div class="line line-transform"></div>
            <h1 id="title">Order</h1>
            <p id="slogan">Organize Your Thoughts</p>

            <div data-buttons id="buttons">
                <a href="sign-up" class="button text-white">Sign up</a>
                <a href="sign-in" class="button text-white">Sign in</a>
            </div>
        </div>
    </div>
</body>

</html>